* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

@import "header.scss";
@import "auth.scss";
@import "notes.scss";
