* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

@import "header.scss";
@import "auth.scss";
@import "footer.scss";
